.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #111;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: var(--accent);
}

.navlinks {
  display: flex;
  gap: 20px;
}

.navlinks a {
  color: white;
  text-decoration: none;
}

.auth {
  display: flex;
  gap: 15px;
  align-items: center;
}

.registerBtn {
  background: var(--primary);
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
}

.container {
  text-align: center;
  padding: 120px 20px;
}

.title {
  font-size: 52px;
  font-weight: bold;
  color: var(--accent);
}

.subtitle {
  margin-top: 10px;
  color: var(--muted);
  font-size: 18px;
}

.actions {
  margin-top: 40px;
}

.button {
  padding: 12px 20px;
  margin: 5px;
  background: var(--primary);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.secondaryButton {
  padding: 12px 20px;
  margin: 5px;
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}